:root{
    --border-color: white;
    --primary-color: #30323D;
    --secondary-color: #4D5061;
    --accent1-color: #CDD1C4;
    --accent2-color: #5CABFF;
}

* {
    background-color: var(--primary-color);
    color: var(--accent1-color);
}

h1, h2, h3, h4, h5, h6 {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    font-family: "Lato", serif;
    font-weight: 400;
    text-align: center;
    border: 1px solid var(--accent1-color);
    margin: 5%;
}

p {
    background-color: var(--primary-color);
    color: var(--accent1-color);
    font-family: "Lato", serif;
    font-weight: 300;
    text-align: center;
}

header {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent1-color);
    margin: 15px;
    padding: 2%;
    display: grid;
    grid-template: auto / 1fr 3fr;
}

nav {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    border: 2px solid var(--accent1-color);
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
    text-align: center;
}

.history {
    border: 2px solid var(--accent1-color);
    background-color: var(--secondary-color);
    margin: 15px;
    display: grid;
    grid-template: 20% 80%/1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 15px;
}

.history h2 {
    grid-column: 1/span 3;
    background-color: var(--secondary-color);
    border: 0;
}

.history p {
    background-color: var(--secondary-color);
}

.history img {
    width: 80%;
    height: auto;
}

.sociallinks {
    text-align: center;
}

.sociallinks a {
    text-align: center;
    text-decoration: none;
}

.hero {
    position: relative;
    margin: 15px;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5%;
    position: absolute;
    left: 10%;
    width: 80%;
    height: 100%;
    background-color: rgba(0,0,0,0);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    opacity: 1;
    background-color: rgba(0,0,0,0);
    color: var(--accent1-color);
    top: 0;
    left: 0;
    font-size: 3vw;
    margin: 0;
    width: 100%;
    border: 0;
}

.hero h1 b {
    background-color: rgba(0,0,0,0);
    color: var(--accent1-color);
}

.hero article {
    display: flex;
    justify-content: space-evenly;
    border: 2px solid var(--accent1-color);
    align-items: center;
    background-color: var(--secondary-color);
    margin: 0;
    top: 25%;
    width: 100%;
    height: 30%;
}

.hero p {
    background-color: var(--secondary-color);
    text-align: left;
}

.hero article img {
    background-color: var(--secondary-color);
    top: 15%;
    height: 90%;
    width: auto;
    float: right;
}

.adventure {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent1-color);
    margin: 15px;
}

.adventure h2 {
    border: 0;
}

.adventure-container {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.adventure-container figure {
    max-width: 20%;
    height: auto;
    background-color: var(--secondary-color);
}

.adventure-container figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    background-color: var(--secondary-color);
    text-align: center;
}

footer {
    background-color: var(--secondary-color);
    border: 2px solid var(--accent1-color);
    display: grid;
    grid-template: 1fr / 70% 25% 5%;
    margin: 15px;
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer p {
    background-color: var(--secondary-color);
}

footer a {
    background-color: var(--secondary-color);
}

footer nav a {
    background-color: var(--secondary-color);
    width: 50%;
    height: auto;
    border: 0;
}

footer nav a img {
    background-color: var(--secondary-color);
    width: 40%;
    height: auto;
}

.contact-container{
    display: grid;
    grid-template: 1fr 1fr 1fr / 2fr 1fr;
    margin: 5%;
    height: 70vh;
    width: 90%;
    gap: 1rem;
}

.company-information{
    grid-column: 1 / span 3;
    border: 1px solid var(--accent1-color);
    background-color: var(--secondary-color);
}

.company-information ul {
    height: 80%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.company-information ul li {
    background-color: var(--secondary-color);
}

.employee-profiles{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.user-comments {
    background-color: var(--secondary-color);
    border: 1px solid var(--accent1-color);
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
.user-comments * {
    background-color: var(--secondary-color);
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.purpose-of-inquiry {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.label-pair {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.subscription {
    display: flex;
}

button {
    max-width: fit-content;
    color: var(--accent2-color);
}

.map {
    border: 1px solid var(--accent1-color);
    background-color: var(--secondary-color);
    grid-row: 2 / span 2;
    grid-column: 2 / 4;
    width: 100%;
}
.contact-header {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.contact-header h1{
    text-align: left;
    margin: 0;
    width: 45%;
    border: 0;
    background-color: var(--primary-color);
}