* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jacquard 12", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;    
    color: black;
    background: antiquewhite;
}

header {
    margin: 5%;
    width: 90%;
    display: flex;
    border-bottom: 1px solid black;
}

h1 {
    text-align: center;
    color: darkblue;
    margin: 2rem;
}

form {
    width: 90%;
    margin: 5%;
    padding: 1rem;
    border: 1px solid black;
    background-color: whitesmoke;
    border-radius: 0.3rem;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: 1rem;
    margin: 5px;
    border: 1px solid slategray;
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: red;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    font-family: "UnifrakturCook", serif;
    padding: 0.3rem;
    font-size: 1.2rem;
    color: darkslategray;
}

input[type="checkbox"]{
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 0.5rem;
    color: darkblue;
    font-family: "UnifrakturCook", serif;
    font-size: 1.5rem;
    border-radius: 0.3rem;
}

button:hover {
    background-color: darkgray;
    color: red;
}

footer {
    margin: 5%;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid black;
    width: 90%;
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
    align-items: center;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}